html, body{
    background: white !important;
}
.foto{
    border-radius: 50% !important;
    width: auto !important;
    
}
#sidebar-nav .foto:hover{
    background: none !important;
}
.ph-user{
    color: white;
    font-size: 50px;
}
.dados{
    font-size: smaller;
}
#sidebar-nav{
    padding: 0px 1em ;
    gap: 0.5em;
}
#sidebar-nav a{
    text-decoration: none;
    color: white !important;
    font-size: 1em;
    padding: 0.5em 0.5em;
}
#sidebar-nav a:hover{

    border-radius: 6px;
    background: #f1f1f1 !important;
    color: #000 !important;
}
sidebar-nav i{
    font-size: 20px;
}
.header{
    background: #02812C;
    color: white;
    padding: 0.5em 1em;
    font-size: 1.5em;
    font-weight: 600;
}
.logo{
    height: 50px;
    padding: 0;
    margin: 0;
}
/*Quadro de aulas*/
.calendario-atividades { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:100%;
  
    border-top: 9px solid #02812C;
}

.calendario-atividades .calendar{
    width: 100%;
    margin: 0;
    background: #02812C;
    gap: 3em;
}
.calendario-atividades .semana{
    font-size: 1.5em;
}

.banners{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    margin: 1em 0;

}

.banners .card{
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
    border-top: 9px solid #049c37 !important;
    width: 100%;
}

.banners .mensagem img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-size: cover;
}


.banners .mensagem{
    color: black;
    transition: border, color 0.5s;
    border: 1px solid #049c37;
    padding: 0.5em;
}
.banners .mensagem:hover{
    color: #049c37;
    border: #000 solid 1px;
}

@media (max-width: 645px) {
    .calendario-atividades .calendar{
        gap: 0;
    }
    .calendario-atividades .semana{
        font-size: 1em !important;
    }
    .banners .mensagem img{
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
    

}