
input {
    background-color: #ffffff !important;
    border: 1px solid #009245 !important;
}
input:focus {
    background-color: #00924411 !important;
    outline: none !important;
    box-shadow: none !important;
}

.entrar{
    width: 150.71px;
    height: 46px;
    
}